body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
        
    a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
    }
    
    .home {
        text-align: center;

        .header {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 20px;
            
            font-weight: normal;
            font-size: 30pt;
            color: white;
        }
        
        .spacer {
            height: 650px;
            margin: 0;
            
            background: linear-gradient(
                rgba(10,20,30,0.5) 0%,
                rgba(0,0,0,0) 100%),
                url(image-path('summit.png'));
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
        }
        
        .clickable {
            position: relative;
            z-index: 1000;
        }
        
        .passion-for {
            margin: 10px;
            font-weight: normal;
            font-size: 30pt;
        }
        
        .below-game {
            margin: 0;
            width: 100%;
            
            background: white;
            
            .interests {
                margin: 0;
                list-style-type: none;
                text-align: justify;
                padding: 0;
                
                >li {
                    margin-bottom: 20px;
                    
                    /* box-shadow: 0 0 7px 0 #333; */
                }
                
                .section-content {
                    width: 700px;
                    margin: 0 auto;
                    color: white;
                    font-size: 18px;
                    line-height: 30px;
                }
                
                .controls {
                    text-align: center;
                }
                
                .control {
                    display: inline-block;
                    text-align: center;
                    margin: 10px 20px;
                    padding: 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    color: #ccc;
                    cursor: pointer;
                    border-radius: 5px;
                    height: 62px;
                    vertical-align: middle;
                    
                    .octicon {
                        font-size: 30px;
                    }
                    
                    &:hover {
                        /* background: rgba(255,255,255,0.1); */
                        color: #fff;
                    }
                }
                
                .github-logo {
                    width: 100px;
                }
                
                .gradient {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
                
                .interest-label {
                    margin: 20px 0 0 20px;
                    width: 400px;
                }
                

                .code-section, .music-section, .game-section, .mountain-section {
                    width: 100%;
                    height: 480px;
                }
                
                .code-section {
                    background: linear-gradient(
                        rgba(20,30,40,0.6),
                        rgba(20,30,40,0.6)),
                        url(image-path('code-bg.png'));
                    background-size: cover;
                    background-position: center top;
                }
                
                .music-section {
                    background: linear-gradient(
                        rgba(20,30,40,0.7),
                        rgba(20,30,40,0.7)),
                        url(image-path('music-bg.png'));
                    background-size: cover;
                    background-position: center top;
                }
                
                .game-section {
                    background: linear-gradient(
                        rgba(20,30,40,0.7),
                        rgba(20,30,40,0.7)),
                        url(image-path('game-bg.png'));
                    background-size: cover;
                    background-position: center;
                }
                
                .mountain-section {
                    background: linear-gradient(
                        rgba(20,30,40,0.7),
                        rgba(20,30,40,0.7)),
                        url(image-path('mountain-bg.png'));
                    background-size: cover;
                    background-position: center;
                }

            }
        }
    }
}
