body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .home {
        text-align: center;

        .header {
            font-weight: normal;
            font-size: 30pt;
        }
    }
}
