body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    
    a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .home {
        text-align: center;

        .header {
            font-weight: normal;
            font-size: 30pt;
        }
        
        .below-game {
            margin: 400px auto 0;
            width: 460px;
            
            .block-text {
                text-align: justify;
                
                font-size: 16px;
                line-height: 30px;
            }
            
            .clickable {
                position: relative;
                z-index: 1000;
            }
        }
    }
}
